$bosch-blue: #005691;
$bosch-red: #ed0007;
$bosch-gray: #bfc0c2;
$bosch-green: #78be20;
$bosch-yellow: #fcaf17;
$sub-color1: #7d8790;
$sub-color2: #8b8b8b;
$sub-color3: #757575;
$gray-background: #fbfbfb;
