.default-paginator {
  display: none !important;
}

.tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;

  .button-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
  }

  .search {
    display: flex;
    align-items: stretch;
    padding: 0 8px;
    width: fit-content;
    text-align: left;

    .search-input {
      margin-left: 8px;

      input {
        width: 250px;
      }
    }
  }
}

.table-container {
  padding: 15px;

  .table-overlay {
    overflow: auto;

    .table {
      width: 100%;

      th,
      td {
        line-height: 1.5rem;
        padding: 0 20px;
      }

      th {
        font-weight: bold;
      }

      .checkbox {
        width: 1%;
      }

      .table-row {
        height: 70px;
      }
    }
  }

  .paginator {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
  }
}
