body {
  margin: 0 auto;
  min-height: 100vh;
  height: fit-content;
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background-color: #00000010;
  color: #f0f0f0;
  z-index: 2000;

  .spinner {
    position: fixed;
    display: inline-block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
  }
}
